@model IEnumerable<YourCommunityWorkshop.ViewModels.CustomerHistoryRentalsViewModel>

@{
    ViewBag.Title = "CustomerHistory";
}

<h2>Customer History for @Html.DisplayName(Model.Select(cn => cn.CustomerName).FirstOrDefault())</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RentalId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateRented)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToolName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RentalId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateRented)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ToolName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerId)
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back to List", "Index") | <br />

    @using (Html.BeginForm("ExportCustomerHistory", "Customer", new { Id = Model.Select(c => c.CustomerId).FirstOrDefault() }, FormMethod.Post))
    {
        @*<input type="submit" value="Export" class="btn btn-default"/>*@
        <button class="btn btn-default"><i class="fa fa-file-excel"></i> Export</button>
    }
</div>
